.textRed{
    color:#D12118;
}

.bg-customcolor{
    background-color: #141414 !important;
}
.bg-lightgrey{
    background-color: #262625 !important;
}

.borderColorRed{
    border-color: #D12118;
}



