.CardItem .card-img-top {
    width: 100%;
    height: 15vw;
}

.CardItem {
    transition: all 0.5s, ease-in-out;
}

.CardItem:hover {
    -moz-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -o-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);

    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition:transform 0.5s ease;
    transition : transform 0.5s ease;

    box-shadow: 0 0 20px rgba(33,33,33,.3);
}

.CardItem .heart-link {
    border: none;
    background: transparent;
}

.CardItem .heart-link:focus {
    outline: none;
}

.CardItem .heart-link:hover .fa-heart-o:before {
    content: "\f004";
    color: white;
}

.CardItem .course-title {
    height: 90px;
    text-align:center;
    display:table;
    width:100%;
}

.CardItem .course-title h5 {
    vertical-align: middle;
}

.CardItem .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}
.con:hover .overlay {
    opacity: 0.8;
}

.CardItem .overlayText{
    margin-top:30%;
}