.deleteHeader{
    background-color: #f7cac9;
}
.textRed{
    color:#D12118;
}

.btn-outline-custom-color{color:#D12118 !important;background-color:transparent;background-image:none;border-color:#D12118 !important}
.btn-outline-custom-color:hover{color:white !important;background-color:#D12118;border-color:#D12118}
.btn-outline-custom-color.focus,.btn-outline-custom-color:focus{box-shadow:0 0 0 .2rem rgba(12,117,150,.5)}
.btn-outline-custom-color:not(:disabled):not(.disabled).active,.btn-outline-custom-color:not(:disabled):not(.disabled):active,.show>.btn-outline-custom-color.dropdown-toggle{color:#D12118;background-color:#D12118;border-color:#D12118}
.btn-outline-custom-color:not(:disabled):not(.disabled).active:focus,.btn-outline-custom-color:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-custom-color.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(108,117,125,.5)}
