.Header .navbar{
    background-color: #141414;
}

.Header .timeText{
    color:#D12118;
}

.Header .dropdown-item:hover{
    background-color: #141414 !important;
}

.Header .spanButton{
    cursor:pointer;
}